In [1]:
import pandas as pd
import numpy as np

In [4]:
A = pd.read_csv('3class_data.csv', header=None)

In [8]:
x = A.loc[[0,1]]
x

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.14862,0.081797,0.20622,0.23157,0.33525,0.24770,0.13710,0.32373,0.28226,0.18318,...,0.41820,0.34217,0.47350,0.579490,0.415900,0.52419,0.32834,0.25461,0.19700,0.59332
1,0.71574,0.625360,0.63703,0.86152,0.76822,0.78571,0.85569,0.65743,0.55539,0.55539,...,0.18222,0.27259,0.28717,0.053936,0.021866,0.15889,0.16472,0.31341,0.20262,0.23178

In [9]:
y = A.loc[2]
y

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    2.0
21    2.0
22    2.0
23    2.0
24    2.0
25    2.0
26    2.0
27    2.0
28    2.0
29    2.0
Name: 2, dtype: float64

In [10]:
def model(x, w):
    a = w[0] + np.dot(x.T,w[1:])
    return a.T

In [24]:
all_evals = np.array([
            [1, 0, 0],
            [1, 0, 0],
            [0, 2, 0],
            [0, 2, 0],
            [0, 0, 3],
            [0, 0, 3]])

In [39]:
y = np.array([0,0,1,1,2,2])
np.size(y)
y.flatten()

array([0, 0, 1, 1, 2, 2])

In [42]:
all_evals[np.arange(np.size(y)), y.flatten()]

array([1, 1, 2, 2, 3, 3])